<div class="header-container">
  <img [src]="'steam-logo.svg' | imagePath" alt="steam-logo" class="logo" routerLink="/games">
  <div class="header" *ngIf="!isAuth">
    <p>Welcome to Steam!</p>
    <button class="login-btn" (click)="logIn()">LogIn</button>
  </div>
  <div class="header" *ngIf="isAuth">
    <nav class="navigation">
      <a routerLink="/games" routerLinkActive="active">Games</a>
      <a routerLink="/library" routerLinkActive="active">Library</a>
      <a routerLink="/friends" routerLinkActive="active">Friends</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </nav>
    <button class="logout-btn" (click)="logOut()">LogOut</button>
  </div>
</div>

