.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  height: 56px;
  padding: 8px 20px;
  box-shadow: 0px 4px 4px var(--shadow-accent-color);
  background: var(--additional-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 24px;
  font-weight: bold;
}

.header button {
  width: 100px;
  height: 32px;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border-radius: 4px;
  border: inherit;
  color: var(--additional-color);
  cursor: pointer;
}

.header .login-btn {
  background: var(--brand-color);
}

.logo {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  opacity: 0.8;
}

.navigation {
  display: flex;
  text-align: center;
  align-items: center;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: inherit;
  font-size: 20px;
  line-height: 23px;
}

a:hover,
a.active {
  color: var(--hover-color);
}