<section class="section games">
  <div class="container">
    <app-notification></app-notification>
    <h2 class="section-title">Games</h2>
    <form class="search-form" (submit)="searchGames($event)">
      <label class="search-form_label">
        <span class="search-label">Search games</span>
        <input class="search-input" type="search" name="search" placeholder="Search games" required>
      </label>
      <button class="btn" type="submit">Search</button>
    </form>
    <h3 class="section-title">Featured Games</h3>
    <div class="page-content">
      <div class="feed">
        <div class="card" *ngFor="let game of filteredData">
          <img class="card-img" [src]="game.img" [alt]="game.name">
          <div class="card-header">
            <h4 class="card-name">{{game.name}}</h4>
            <h4 class="card-price">{{game.price}} UAH</h4>
          </div>
          <p class="card-text">{{game.description}}</p>
          <button class="card-btn" [class.card-btn__disabled]="!isAuth" [disabled]="!isAuth"
            (click)="addToLibrary(game)">Add to Library</button>
        </div>
        <h2 *ngIf="!filteredData.length">Game not found!</h2>
      </div>
      <div class="sidebar">
        <form (submit)="filterGames($event)">
          <h4>Filter by price</h4>
          <div class="range-slider-wrap">
            <input class="price-range" name="price" type="range" step="10" [max]="maxPrice"
              (input)="setCurrentPrice($event)" [value]="currentPrice">
            {{currentPrice | currency:'UAH':'symbol-narrow'}}
          </div>
          <h4>Filter by tags</h4>
          <div class="tags">
            <label *ngFor="let tag of tags">
              <input type="checkbox" name="tag" [value]="tag">
              <span>{{tag}}</span>
            </label>
          </div>
          <button class="btn filter-btn" type="submit">Filter</button>
        </form>
      </div>
    </div>
  </div>
</section>
