.page-content {
  display: flex;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.search-label {
  margin-left: 5px;
  font-size: 14px;
}

.search-form_label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search-input {
  padding: 12px;
  filter: drop-shadow(0px 4px 4px var(--shadow-accent-color));
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

.btn {
  padding: 12px 25px;
  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--additional-color);
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: var(--brand-color);
  filter: drop-shadow(0 4px 4px var(--shadow-accent-color));
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

.section-title {
  margin: 15px 0 25px;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
}

.card {
  width: calc((100% - 20px * 2) / 3);
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border-radius: 4px;
  position: relative;
  z-index: 0;
  padding: 10px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.card-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--additional-color);
}

.card-name {
  font-size: 24px;
  margin: 7px 0;
}

.card-price {
  align-self: flex-end;
  font-size: 24px;
}

.card-text {
  font-size: 13px;
  line-height: 15px;
  margin: 10px 0;
}

.card-btn {
  width: 100%;
  padding: 12px 16px;
  color: var(--additional-color);
  background: var(--brand-color);
  box-shadow: 0 0px 4px var(--shadow-accent-color);
  border-radius: 4px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.card-btn:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

.card-btn__disabled {
  background-color: var(--inactive-color) !important;
  cursor: not-allowed;
}

.sidebar {
  flex: 1;
}

.price-range {
  width: 110px;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
}

/*-----------RANGE SLIDER-----------*/
.range-slider-wrap {
  display: flex;
  align-items: center;
}

input[type="range"] {
  height: 23px;
  -webkit-appearance: none;
  width: 50%;
  margin-right: 7px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--brand-color);
  border-radius: 50px;
  border: 0px solid var(--secondary-color);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border: 1px solid var(--secondary-color);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--additional-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--brand-color);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--brand-color);
  border-radius: 50px;
  border: 0px solid var(--secondary-color);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border: 1px solid var(--secondary-color);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--additional-color);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--brand-color);
  border: 0px solid var(--secondary-color);
  border-radius: 100px;
}

input[type="range"]::-ms-fill-upper {
  background: var(--brand-color);
  border: 0px solid var(--secondary-color);
  border-radius: 100px;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border: 1px solid var(--secondary-color);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--additional-color);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--brand-color);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--brand-color);
}
