.red-text {
  color: var(--accent-color);
  font-size: 14px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  background-color: var(--additional-color);
  min-height: 340px;
  max-width: 320px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px var(--shadow-accent-color);
}

label {
  display: inline-block;
  margin-top: 15px;
}

input {
  width: 200px;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

button {
  color: var(--additional-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 32px;
  border-radius: 5px;
  border: 0px;
  margin-top: -20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

.container {
  max-width: 100%;
  min-height: 100%;
  background: var(--background-color);
  box-shadow: none;
}
