.title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
}

.cards-container {
  max-width: 836px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 10px * 2) / 3);
  position: relative;
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--additional-color);
  margin: 8px;
}

.card-description {
  font-size: 13px;
  line-height: 15px;
  margin: 16px 16px 8px 16px;
}

.btn-container {
  margin: 0 16px 12px 16px;
}

.btn-container button {
  box-sizing: border-box;
  width: calc(100% / 2 - 5px);
  height: 32px;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--additional-color);
  background: var(--brand-color);
  box-shadow: 0px 0px 4px var(--shadow-accent-color);
  border: inherit;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

.btn-container .share-btn {
  margin: 0;
  background: var(--additional-color);
  color: var(--brand-color);
}

.btn-container .download-btn:hover {
  opacity: 0.5;
}

.btn-container .share-btn:hover {
  color: var(--additional-color);
  background: var(--brand-color);
  opacity: 0.5;
}

.message {
  font-weight: normal;
  font-size: 20px;
}
